* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #222;
  background: #fffcf1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 650px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0b1c13;
  gap: 1em;
  color: #fff;
  padding: 1em 2em;
  margin: 1em 1em 0em 1em;
  border-radius: 3em;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: hidden;
}

header img.logo {
  height: 1.75em;
}

header .social-links {
  display: flex;
  gap: 0.5em;
}

header .social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  margin: 0 1em;
}

.welcome-section p {
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: -0.04em;
}

.welcome-section h2 {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.property-section {
  display: flex;
  flex-direction: row;
  margin: 0 1em;
}

.property-section > div {
  flex: 0 0 50%;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.property-card {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  border-radius: 1.5em 0 0 1.5em;
}

.property-card img {
  display: block;
  object-fit: cover;
  height: 100%;
  width:100%;
}

.property-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #0b1c13;
  color: #fff;
  padding: 0.5em;
}

.property-info h2 {
  font-size: 2em;
  font-weight: 700;
}

.property-info p {
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: -0.04em;
}

.analysis-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5em;
  border-radius: 0 1.5em 1.5em 0;
}

.analysis-card h2 {
  color: #0b1c13;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-weight: 800;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #0b1c13;
}

.analysis-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #f9f9f9;
  padding: 0.75em 0;
}

.analysis-item:last-child { 
  padding-bottom: 0;
  border-bottom: none; 
}

.analysis-label {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #666;
}

.analysis-value {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #222;
}

.infos-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5em;
  margin: 0 1em;
  border-radius: 1.5em;
}

.infos-section h2 {
  color: #0b1c13;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-weight: 800;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #0b1c13;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #f9f9f9;
  padding: 0.75em 0;
}

.list-item:last-child { 
  padding-bottom: 0;
  border-bottom: none; 
}

.list-label {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #666;
}

.list-value {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #222;
}

.financial-summary {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 0;
  color: #222;
}

.financial-details {
  display: flex;
  flex-direction: column;
  border-radius: 1.25em;
  border: 1px solid #e3e3e1;
  width: 50%;
}

.financial-details h3 {
  width: 100%;
  text-align: center;
  border-radius: 1em 1em 0 0;
  border-bottom: 1px solid #e3e3e1;
  background-color: #f9f9f9;
  padding: 0.5em;
}

.financial-details ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  gap: 0.5em;
  height: 100%;
  margin: 0.5em 0;
}

.financial-details canvas {
  height: 100%;
  margin: 0.5em 0;
}

.financial-details ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f9f9f9;
  height: 100%;
  border-radius: 1em;
  gap: 0.25em;
  margin: 0 0.5em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.financial-label {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #666;
}

.financial-value {
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #222;
}

.financial-summary-alt {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.financial-details-alt {
  display: flex;
  flex-direction: column;
  border-radius: 1.25em;
  border: 1px solid #e3e3e1;
  width: 100%;
}

.financial-details-alt h3 {
  width: 100%;
  text-align: center;
  border-radius: 1em 1em 0 0;
  border-bottom: 1px solid #e3e3e1;
  background-color: #f9f9f9;
  padding: 0.5em;
}

.financial-details-alt ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 0.5em;
  height: 100%;
  margin: 0.5em;
}

.financial-details-alt ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 50%;
  padding: 1em 0.5em;
  gap: 0.25em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.financial-details-alt canvas {
  height: 100%;
  margin: 0.5em;
}

#savings { color: #a4c520; }


.aide-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}

.aide-subvention, .aide-pret {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aide-subvention:not(:last-child) {
  border-bottom: 1px solid #e3e3e1;
  padding-bottom: 1em;
}

.aide-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1em;
  border: 1px solid #e3e3e1;
  padding: 1em;
  border-radius: 1em;
}

.aide-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0b1c13;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  border-bottom: 2px solid #0b1c13;
}

.aide-name h3 {
  font-size: 1.25em;
  font-weight: 800;
}

.aide-name a {
  font-size: 0.8em;
  font-weight: 500;
  text-decoration: underline;
  color: #a4c520;
  transition: all 0.3s ease;
}

.aide-name a:hover {
  text-decoration: none;
  color: #0b1c13;
  transition: all 0.3s ease;
}

.dpe-comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0;
  color: #222;
}

.dpe-arrow {
  font-size: 2em;
  color: #a4c520;
}

.dpe-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 1.25em;
  border: 1px solid #e3e3e1;
}

.dpe-container h3 {
  width: 100%;
  text-align: center;
  border-radius: 1em 1em 0 0;
  border-bottom: 1px solid #e3e3e1;
  background-color: #f9f9f9;
  padding: 0.5em;
}

.dpe-scale {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.75em 0.5em;
  gap: 0.25em;
}

.dpe-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.25em;
}

.dpe-item .dpe-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 800;
  border: 1px solid #e3e3e1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.5em;
}

.dpe-item.active {
  border: 2px solid #a4c520;
  border-radius: 1em;
  padding: 0.25em 0.5em 0.25em 0.25em;
  font-weight: 600;
}

.dpe-a .dpe-letter{ background-color: #009900; }
.dpe-b .dpe-letter{ background-color: #66cc00; }
.dpe-c .dpe-letter{ background-color: #cccc00; }
.dpe-d .dpe-letter{ background-color: #ffcc00; }
.dpe-e .dpe-letter{ background-color: #ff9900; }
.dpe-f .dpe-letter{ background-color: #ff6600; }
.dpe-g .dpe-letter{ background-color: #ff0000; }

.dpe-range {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #666;
}

.dpe-indicator {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #222;
}

.list-item-alt {
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 1em;
  border: 1px solid #e3e3e1;
}

.list-item-alt ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list-item-alt ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e3e1;
  background-color: #f9f9f9;
  border-radius: 0.75em;
  padding: 0.5em 0.75em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.list-item-alt ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list-item-alt ul li:hover {
  background-color: #e3e3e1;
  border: 1px solid #666;
  transition: all 0.3s ease;
}

.list-item-alt ul li:hover .list-label-alt, .list-item-alt ul li:hover .list-link-alt {
  color: #666;
  transition: all 0.3s ease;
}

.list-label-alt {
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #222;
}

.list-link-alt {
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #a4c520;
}

.important-info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  color: #0b1c13;
  margin-top: 1em;
  line-height: 1.4em;
  letter-spacing: -0.04em;
  border: 1px solid #e3e3e1;
  padding: 1em;
  border-radius: 1em;
}

.important-info ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.important-info ul li a {
  text-decoration: underline;
  color: #666;
  transition: all 0.3s ease;
}

.important-info ul li a:hover {
  color: #a4c520;
  transition: all 0.3s ease;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #0b1c13;
  color: #fff;
  padding: 2em 2.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 1em;
}

footer h3 {
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
}

footer p {
  font-size: 0.8em;
  color: #a4c520;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.04em;
}

.privacy-note {
  font-size: 0.7em;
  color: #666;
  margin: 0 3.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.04em;
}